# all the values in here are dummies so we don't accidentally upload them to 
# github. 

[interface]
host=localhost
port=xxxx
[keys]
server_public_rsa=/xxx/blackhole-sun/keys/server_rsa.pub
client_private_rsa=/xxx/blackhole-sun/keys/client_rsa
[server]
host=localhost
port=xxxx
[database]
host=localhost
port=xxxx
user=xxxx
password=xxxx
database=xxxx
#min and max duration of blackhole requests
[duration]
min=0
max=2160
#routes that must be maintained in the exabgp server
#one line with comma separated routes. Must include mask
# eg 1.1.1.1/32
[protected_routes]
routes=xxx.xxx.xxx.xxx/yy
