#
# Copyright (c) 2019 The Board of Trustees of Carnegie Mellon University.
#
#  Authors: Chris Rapier <rapier@psc.edu>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. *

# all the values in here are dummies so we don't accidentally upload them to 
# github. 

# this is the exabgp interface on the remote host
[interface]
host=exabgp.example.com
port=2525

# server refers to the listening socket created by this application
# this is the port used in functions.cfg.php
[server]
host=localhost
port=20202

[keys]
server_public_rsa=/xxx/blackhole-sun/keys/server_rsa.pub
client_private_rsa=/xxx/blackhole-sun/keys/client_rsa

# this is the information for the mysql database
[database]
host=localhost
port=3306
user=xxxx
password=xxxx
#the name of the blackhole sun database
database=blackholesun

# email transport settings. this is used to send mail to the
# users (password, route updates, etc). Currently this makes use of
# sendmail. Later versions will allow for the use of SSL via SMTP
[email]
host=localhost
port=25

#min and max duration of blackhole requests
[duration]
min=0
max=2160

#routes that must be maintained in the exabgp server
#one line with comma separated routes. Must include mask
# eg 1.1.1.1/32
[protected_routes]
routes=xxx.xxx.xxx.xxx/yy

# the folllowing conf file is use by Log4Perl and must conform to that format
[logconfig]
path=/usr/local/etc/log4perl.conf